/* Creation du style de la page */
:root {
  --main-color: #151522;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color), var(--main-color);
}

/* NavBar component*/

/* Format mobile */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-color);
}

.logo {
  width: 100%;
  margin-top: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  background-color: var(--main-color);

}


.mainPage {
  display: flex;
  flex-direction: rows;
  min-height: 500px;
  background-color: antiquewhite;
}


.sideLeft {
  width: 10%;
  background-color: rgb(218, 218, 143);
}

.sideCenter {
  width: 70%;
}

.sideRight {
  width: 30%;
  background-color: rgb(218, 218, 143);
}

/* .hero {
  background-image: url(/public/Images/bacground-with-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40em;
  width: 100%;
  margin-bottom: 1em;
} */

.listAndSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLink {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
}

/* .loupe {
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translateX(-120%) translateY(15%);
} */
/* 
.searchBar {
  padding: 0.7em 7em;
  border: 0.5px solid black;
}
 */
nav,
li,
a {
  text-decoration: none;
  list-style: none;
  gap: 0.5em;
  color: #ffffff;
  font-size: 1.1em;
  height: 4em;
}

a:hover {
  color: #a306b6;
}

/*Responsive version*/

@media screen and (max-width: 992px) {
  .hero {
    height: 30em;
  }

  a {
    font-size: 0.8em;
  }

  .navBarLink {
    gap: 1em;
  }
}

/*Main*/
/*Album and News*/

/* article {
  padding: 1em;
}
 */

/* .albumTitle,
.newsTitle,
.artistTitle,
.catalogTitle {
  text-align: center;
  color: #33035f;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.albumName,
.newsName,
.artistName {
  color: black;
} */

/*AlbumDetails*/
/*Format mobile*/
/* .albumDetails {
  margin-top: 1em;
  text-align: center;
}

.albumPlay {
  width: 100%;
  margin-top: 2em;
}

audio {
  width: 200px;
}
 */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  article {
    min-height: 10em;
  }
}

@media screen and (max-width: 650px) {
  a {
    font-size: 0.6em;
  }

  .hero {
    height: 20em;
    margin-top: 0;
  }

  .title {
    visibility: hidden;
    height: 0;
  }
}

/* Format Desktop */

@media screen and (min-width: 992px) {
  .navBar {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    width: 100%;
    margin-top: 1em;
  }

  .title {
    visibility: visible;
    margin-top: 2em;
  }

  .footer {
    height: 5em;
    padding-bottom: 2em;
  }

  .albumPlay {
    margin-top: 5em;
    text-align: left;
  }

  audio {
    width: 300px;
  }
}

/*Footer component*/
/*Format mobile*/
.footer {
  background-color: rgb(32, 40, 44);
  color: var(--secondary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .footer {
    height: 5em;
    padding-bottom: 2em;
  }
}

/*Main*/
/*Album and News*/
/* .albums,
.news {
  text-align: center;
}

.albumTitle,
.newsTitle,
.artistTitle {
  margin: 2em 2em;
  text-align: center;
} */