/* Creation du style de la page */
:root {
  --main-color: #151522;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color), var(--main-color);
}

/* NavBar component*/

/* Format mobile */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-color);
}

.logo {
  width: 100%;
  margin-top: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  background-color: var(--main-color);
}

.mainPage {
  display: flex;
  flex-direction: rows;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
}

.sideLeft {
  width: 10%;
  background-color: rgb(240, 239, 239);
}

.sideCenter {
  width: 70%;
}

.sideRight {
  width: 30%;
  background-color: rgb(240, 239, 239);
}

.listAndSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLink {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
}

nav,
li,
a {
  text-decoration: none;
  list-style: none;
  gap: 0.5em;
  color: #ffffff;
  font-size: 1.1em;
  height: 4em;
}

a:hover {
  color: #a306b6;
}

/*Responsive version*/

@media screen and (max-width: 992px) {
  a {
    font-size: 0.8em;
  }

  .navBarLink {
    gap: 1em;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  article {
    min-height: 10em;
  }
}

@media screen and (max-width: 650px) {
  a {
    font-size: 0.6em;
  }
}

/* Format Desktop */

@media screen and (min-width: 992px) {
  .navBar {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    width: 100%;
    margin-top: 1em;
  }

  .title {
    visibility: visible;
    margin-top: 2em;
  }

  .footer {
    height: 5em;
    padding-bottom: 2em;
  }
}

/*Footer component*/
/*Format mobile*/
.footer {
  background-color: rgb(32, 40, 44);
  color: var(--secondary-color);
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

/*Format Desktop*/
@media screen and (min-width: 992px) {
  .footer {
    height: 5em;
    padding-bottom: 2em;
  }
}
