:root {
  --main-color: #151522;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color), var(--main-color);
}

.newPublication {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  margin: auto;
  padding-top: 3rem;
}

.formArticle {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding: 2rem;
  margin: 1rem;
  align-items: center;
}

.formArticle input,
textarea {
  margin: 0.5rem;
  padding: 0.5rem;
}

.formArticle button {
  margin: 1.2rem;
  padding: 0.8rem 1.5rem;
}
